In [21]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', 100)

In [22]:
df = pd.read_csv("master_aqi_with_hyperlocal_features.csv")
df.head()

,date,NO2_satellite,SO2_satellite,CO_satellite,O3_satellite,Aerosol_Index_satellite,location,PM2.5_ground,PM10_ground,NO2_ground,SO2_ground,CO_ground,O3_ground,lat,lon,notes,distance_to_major_road,total_road_length_m,major_road_length_m,pct_green,pct_industrial,pct_residential,building_density,avg_building_area_m2,median_building_area_m2,building_count,major_road_fraction
0,01-01-2020,0.000191,-0.000433,0.048550,0.164568,-1.098919,"Anand Vihar, Delhi",367.38,449.58,54.76,10.76,3.65,60.06,28.6473,77.3185,CPCB list,36.472419,55242.830042,10327.566467,0.027902,0.38229,0.371578,0.123329,757.001727,354.930527,511.0,0.186949
1,01-01-2021,NaN,NaN,NaN,NaN,NaN,"Anand Vihar, Delhi",465.44,507.46,97.60,25.14,4.57,38.86,28.6473,77.3185,CPCB list,36.472419,55242.830042,10327.566467,0.027902,0.38229,0.371578,0.123329,757.001727,354.930527,511.0,0.186949
2,01-01-2022,0.000772,0.000185,0.048530,0.126459,0.427147,"Anand Vihar, Delhi",393.56,598.82,99.19,21.34,3.31,9.63,28.6473,77.3185,CPCB list,36.472419,55242.830042,10327.566467,0.027902,0.38229,0.371578,0.123329,757.001727,354.930527,511.0,0.186949
3,01-01-2023,0.000186,-0.000422,0.044510,0.118380,0.118724,"Anand Vihar, Delhi",160.84,301.35,95.49,14.41,2.42,13.36,28.6473,77.3185,CPCB list,36.472419,55242.830042,10327.566467,0.027902,0.38229,0.371578,0.123329,757.001727,354.930527,511.0,0.186949
4,01-01-2024,0.000235,-0.000055,0.057016,0.129212,0.216645,"Anand Vihar, Delhi",199.56,335.12,56.29,9.33,1.60,17.08,28.6473,77.3185,CPCB list,36.472419,55242.830042,10327.566467,0.027902,0.38229,0.371578,0.123329,757.001727,354.930527,511.0,0.186949

In [23]:

# --- Preprocessing steps ---

# Parse date column
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)

df.sample(5)

,date,NO2_satellite,SO2_satellite,CO_satellite,O3_satellite,Aerosol_Index_satellite,location,PM2.5_ground,PM10_ground,NO2_ground,SO2_ground,CO_ground,O3_ground,lat,lon,notes,distance_to_major_road,total_road_length_m,major_road_length_m,pct_green,pct_industrial,pct_residential,building_density,avg_building_area_m2,median_building_area_m2,building_count,major_road_fraction
6004,2024-05-26,0.000113,0.000429,0.045472,0.131295,1.386649,"Punjabi Bagh, Delhi",79.080000,192.67,50.88,24.380000,0.94000,70.24,28.6678,77.1213,CPCB list,123.872699,63504.190071,6380.138263,0.096903,0.001334,0.866862,0.165976,484.722479,341.805483,1074.0,0.100468
15846,2025-08-15,0.000050,0.000096,0.036685,0.123538,-1.322530,"Vikas Sadan, Gurugram",65.924024,143.58,21.60,4.565203,0.73622,31.36,28.4601,77.0318,amazon link?,31.276029,82161.969445,17896.886434,0.004142,0.000000,0.737998,0.250856,218.319406,169.965864,3604.0,0.217824
13498,2022-05-12,0.000081,0.000467,0.052556,0.123500,0.876069,"Sector 62, Noida",58.810000,197.32,6.97,8.330000,71.51000,2.12,28.6195,77.3618,UPPCB,183.931500,60030.240196,11608.855913,0.231993,0.000000,0.147576,0.086467,1427.409962,704.276851,190.0,0.193383
16331,2024-08-22,0.000071,-0.000475,0.031738,0.127332,-1.140504,"Vikas Sadan, Gurugram",37.770000,555.70,10.66,18.610000,1.70000,29.89,28.4601,77.0318,amazon link?,31.276029,82161.969445,17896.886434,0.004142,0.000000,0.737998,0.250856,218.319406,169.965864,3604.0,0.217824
7882,2021-12-22,0.000157,0.000334,0.043591,0.121410,-0.030019,"RK Puram, Delhi",365.100000,441.93,73.98,23.640000,2.21000,35.24,28.5643,77.1818,paper,125.997238,90357.614229,17380.004764,0.055963,0.000000,0.737454,0.167726,576.212797,323.034367,913.0,0.192347

In [24]:
# Drop rows with invalid dates
df = df.dropna(subset=['date'])
print("Number of rows after dropping invalid dates:", len(df))

Number of rows after dropping invalid dates: 16936

In [25]:
df.isnull().sum()

date                          0
NO2_satellite               783
SO2_satellite               783
CO_satellite                783
O3_satellite                783
Aerosol_Index_satellite     783
location                      0
PM2.5_ground                  0
PM10_ground                   0
NO2_ground                    0
SO2_ground                    0
CO_ground                     0
O3_ground                     0
lat                           0
lon                           0
notes                         0
distance_to_major_road        0
total_road_length_m           0
major_road_length_m           0
pct_green                     0
pct_industrial             2117
pct_residential            2117
building_density           2117
avg_building_area_m2       2117
median_building_area_m2    2117
building_count             2117
major_road_fraction        2117
dtype: int64

## Missing Values Imputation

In [30]:
# Fill missing values for satellite columns using backward fill
# Sort by location and date to ensure proper backward fill
df = df.sort_values(by=['location', 'date'])

# Apply backward fill for satellite columns (NO2, SO2, CO, O3)
satellite_cols = ['NO2_satellite', 'SO2_satellite', 'CO_satellite', 'O3_satellite', 'Aerosol_Index_satellite']
df[satellite_cols] = df.groupby('location')[satellite_cols].bfill()

print("Missing values after backward fill for satellite columns:")
print(df[satellite_cols].isnull().sum())

Missing values after backward fill for satellite columns:
NO2_satellite              0
SO2_satellite              0
CO_satellite               0
O3_satellite               0
Aerosol_Index_satellite    0
dtype: int64

In [31]:
# Impute missing values for hyperlocal features using mean
hyperlocal_cols = [
    'pct_green',
    'pct_industrial',
    'pct_residential',
    'building_density',
    'avg_building_area_m2',
    'median_building_area_m2',
    'building_count',
    'major_road_fraction'
]

# Fill missing values with column mean
for col in hyperlocal_cols:
    if col in df.columns:
        mean_value = df[col].mean()
        df[col] = df[col].fillna(mean_value)
        print(f"Filled {col} missing values with mean: {mean_value:.6f}")

print("\nMissing values after mean imputation for hyperlocal features:")
print(df[hyperlocal_cols].isnull().sum())

Filled pct_green missing values with mean: 0.077682
Filled pct_industrial missing values with mean: 0.054804
Filled pct_residential missing values with mean: 0.488841
Filled building_density missing values with mean: 0.142257
Filled avg_building_area_m2 missing values with mean: 805.884142
Filled median_building_area_m2 missing values with mean: 416.861057
Filled building_count missing values with mean: 1015.000000
Filled major_road_fraction missing values with mean: 0.210922

Missing values after mean imputation for hyperlocal features:
pct_green                  0
pct_industrial             0
pct_residential            0
building_density           0
avg_building_area_m2       0
median_building_area_m2    0
building_count             0
major_road_fraction        0
dtype: int64

In [32]:
df.isnull().sum()

date                       0
NO2_satellite              0
SO2_satellite              0
CO_satellite               0
O3_satellite               0
Aerosol_Index_satellite    0
location                   0
PM2.5_ground               0
PM10_ground                0
NO2_ground                 0
SO2_ground                 0
CO_ground                  0
O3_ground                  0
lat                        0
lon                        0
notes                      0
distance_to_major_road     0
total_road_length_m        0
major_road_length_m        0
pct_green                  0
pct_industrial             0
pct_residential            0
building_density           0
avg_building_area_m2       0
median_building_area_m2    0
building_count             0
major_road_fraction        0
dtype: int64

## Temporal Features

In [33]:

# Temporal Features
df['month'] = df['date'].dt.month
df['day_of_week'] = df['date'].dt.dayofweek

def get_season(m):
    if m in [12,1,2]:
        return "Winter"
    elif m in [3,4]:
        return "Pre-Monsoon"
    elif m in [5,6,7,8,9]:
        return "Monsoon"
    else:
        return "Post-Monsoon"

df['season'] = df['month'].apply(get_season)

In [34]:
df.sample(5)

,date,NO2_satellite,SO2_satellite,CO_satellite,O3_satellite,Aerosol_Index_satellite,location,PM2.5_ground,PM10_ground,NO2_ground,SO2_ground,CO_ground,O3_ground,lat,lon,notes,distance_to_major_road,total_road_length_m,major_road_length_m,pct_green,pct_industrial,pct_residential,building_density,avg_building_area_m2,median_building_area_m2,building_count,major_road_fraction,month,day_of_week,season
11688,2025-09-16,0.000071,-0.000194,0.032308,0.124714,-0.542105,"Sector 51, Gurugram",131.872762,184.285422,5.090552,27.029227,0.661132,23.57673,28.4287,77.0706,env clearance doc,213.792151,79140.427223,10229.117245,0.023030,0.054804,0.488841,0.142257,805.884142,416.861057,1015.0,0.210922,9,1,Monsoon
6681,2022-09-05,0.000112,0.000172,0.033967,0.129142,-0.448406,"RK Puram, Delhi",25.420000,85.830000,38.470000,5.090000,0.630000,54.42000,28.5643,77.1818,paper,125.997238,90357.614229,17380.004764,0.055963,0.000000,0.737454,0.167726,576.212797,323.034367,913.0,0.192347,9,0,Monsoon
10714,2025-10-02,0.000053,-0.000040,0.039742,0.126319,-0.858240,"Sector 51, Gurugram",65.450000,144.980000,7.615000,4.880000,0.490000,26.36500,28.4287,77.0706,env clearance doc,213.792151,79140.427223,10229.117245,0.023030,0.054804,0.488841,0.142257,805.884142,416.861057,1015.0,0.210922,10,3,Post-Monsoon
16014,2025-01-18,0.000160,0.001319,0.041156,0.123425,-1.102091,"Vikas Sadan, Gurugram",73.920000,116.060000,21.090000,7.120000,3.490000,29.63000,28.4601,77.0318,amazon link?,31.276029,82161.969445,17896.886434,0.004142,0.000000,0.737998,0.250856,218.319406,169.965864,3604.0,0.217824,1,5,Winter
2762,2023-03-10,0.000106,0.000339,0.041125,0.119828,-0.176791,"Mandir Marg, Delhi",86.360000,163.450000,61.350000,6.780000,1.110000,70.82000,28.6274,77.2010,GIS study,293.086190,70952.584925,18380.423372,0.080570,0.000000,0.556940,0.153556,675.508111,399.383560,713.0,0.259052,3,4,Pre-Monsoon

In [35]:

# Target variable: Option A (Ratio)
df['NO2_ratio'] = df['NO2_ground'] / df['NO2_satellite'].replace(0, pd.NA)
df['SO2_ratio'] = df['SO2_ground'] / df['SO2_satellite'].replace(0, pd.NA)
df['CO_ratio'] = df['CO_ground'] / df['CO_satellite'].replace(0, pd.NA)
df['O3_ratio'] = df['O3_ground'] / df['O3_satellite'].replace(0, pd.NA)

# Drop extreme/infinite values
df = df.replace([float('inf'), -float('inf')], pd.NA).dropna()

In [39]:
df.sample(5)

,date,NO2_satellite,SO2_satellite,CO_satellite,O3_satellite,Aerosol_Index_satellite,location,PM2.5_ground,PM10_ground,NO2_ground,SO2_ground,CO_ground,O3_ground,lat,lon,notes,distance_to_major_road,total_road_length_m,major_road_length_m,pct_green,pct_industrial,pct_residential,building_density,avg_building_area_m2,median_building_area_m2,building_count,major_road_fraction,month,day_of_week,season,NO2_ratio,SO2_ratio,CO_ratio,O3_ratio
4182,2023-10-30,0.000278,0.000793,0.047767,0.124603,0.374306,"Mandir Marg, Delhi",168.96,308.21,34.86,2.96,1.93,47.54,28.6274,77.2010,GIS study,293.086190,70952.584925,18380.423372,0.080570,0.000000,0.556940,0.153556,675.508111,399.383560,713.0,0.259052,10,0,Post-Monsoon,125329.862734,3734.431458,40.404449,381.532363
11626,2021-11-15,0.000133,0.000693,0.045540,0.120260,0.509529,"Sector 51, Gurugram",206.21,371.91,15.10,6.64,2.76,30.08,28.4287,77.0706,env clearance doc,213.792151,79140.427223,10229.117245,0.023030,0.054804,0.488841,0.142257,805.884142,416.861057,1015.0,0.210922,11,0,Post-Monsoon,113690.265553,9578.488791,60.606544,250.125576
2659,2024-09-08,0.000095,0.000033,0.041100,0.126644,-0.072537,"Mandir Marg, Delhi",47.08,72.63,39.87,7.37,0.69,10.86,28.6274,77.2010,GIS study,293.086190,70952.584925,18380.423372,0.080570,0.000000,0.556940,0.153556,675.508111,399.383560,713.0,0.259052,9,6,Monsoon,419684.210526,221987.951807,16.788500,85.752167
15626,2021-07-12,0.000093,-0.000275,0.041364,0.128842,-1.264163,"Vikas Sadan, Gurugram",37.39,555.70,9.28,8.72,0.55,49.72,28.4601,77.0318,amazon link?,31.276029,82161.969445,17896.886434,0.004142,0.000000,0.737998,0.250856,218.319406,169.965864,3604.0,0.217824,7,0,Monsoon,99677.765843,-31705.286275,13.296736,385.899778
5734,2024-06-22,0.000153,-0.000202,0.046993,0.132806,-0.323017,"Punjabi Bagh, Delhi",94.50,148.38,30.12,22.56,0.47,41.99,28.6678,77.1213,CPCB list,123.872699,63504.190071,6380.138263,0.096903,0.001334,0.866862,0.165976,484.722479,341.805483,1074.0,0.100468,6,5,Monsoon,196981.191305,-111751.214849,10.001526,316.175288

In [40]:

# Save cleaned dataset
output_path = "cleaned_aqi_merged_dataset.csv"
df.to_csv(output_path, index=False)
output_path

'cleaned_aqi_merged_dataset.csv'